*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0 15px 15px;
    display: flex;
    flex-direction: column;
}

.container nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo i{
    color: #4bb45c;
    font-size: 28px;
}

nav .logo h1{
    color: #383c36;
    font-size: 28px;
    margin-left: 10px;
}

nav ul{
    display: flex;
}

nav ul li{
    display: flex;
    align-items: center;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
    margin-left: 50px;
    position: relative;
}

nav ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #4bb45c;
    width: 0%;
    height: 3px;
    transition: 0.3s;
}

nav ul li:hover::after,
nav ul li.active::after{
    width: 100%;
}

nav ul li a{
    color: #383c36;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}
nav ul li a:hover,
nav ul li.active a{
    color: #4bb45c;
}

.container .content{
    width: 100%;
    height: calc(100vh - 95px);
    background: linear-gradient(130deg, #4bb45c, #4bb3e6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.content .div-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content .div-text span{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: bold;
}
.content .div-text h3{
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 45px;
    font-weight: normal;
    margin: 20px 0 8px;
    color: #383c36;

    font-family: 'Montserrat', serif;
}

.content .div-text p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.3px;
    margin-bottom: 55px;
}

.content .div-text .btn{
    padding: 15px 35px;
    background-color: #fff;
    color: #4bb45c;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;

}

.content .div-text .btn:hover{
    color: #fff;
    background-color: #086404;
}

.content .div-img img{
    width: 350px;
}

body {
    background-color: #fff;
    font-family: sans-serif;
}

form {
    font-family: 'Inter', serif;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .div-text h1{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
    overflow: hidden;
    animation: typing 3s steps(30, end);
    white-space: nowrap;
    animation-fill-mode: forwards;
}

.content .div-text .div-contact{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
    position: absolute;
    top: 200px;
    left: 150px;
}

.content .div-text i{
    font-size: 25px;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
    position: absolute;
    top: 320px;
    left: 150px;
}

.content .div-text h2{
    font-size: 25px;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
    position: absolute;
    top: 320px;
    left: 200px;
}

.content .div-text .email{
    font-size: 15px;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
    position: absolute;
    top: 360px;
    left: 200px;
}  

label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="password"], textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"]{
    background-color: #4bb45c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: #086404;
}

.dropdown-pages{
    display: none;
    position: absolute;
    background-color: #fff;
}

.dropdown-pages li a{
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-pages {
    display: block;
}

form h2{
    margin-bottom: 1rem;
}

@media (min-width: 598px) {
    .dropdown button{
        display: none;
    }
}
     

@media (min-width: 598px) {
    .dropdown button{
        display: none;
    }
    .dropdown-pages{
        display: flex;
        position: relative;
    } 
}

@media (min-width: 768px){
    .dropdown button{
        display: none;
    }
    .dropdown-pages{
        display: flex;
        position: relative;
    } 
    .container .content{
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/landing_back-transformed.jpeg');
        background-size: 100%;
    }
}

.card{
    display: flex;
    height: 100%;
}

.card-inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.card-front, .card-back {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-image {
    width: 100%;
    height: auto;
}

.team-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: #555;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.content-trans {
    opacity: 0;
    display: flex;
    animation: floatIn 3s forwards;
}
  
  @keyframes floatIn {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
