*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0 15px 15px;
}

.container nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo i{
    color: #4bb45c;
    font-size: 28px;
}

nav .logo h1{
    color: #383c36;
    font-size: 28px;
    position: absolute;
    left: 125px;
}

nav ul li{
    display: inline-block;
    margin-left: 50px;
    height: 80px;
    position: relative;
    line-height: 80px;
    cursor: pointer;
}

nav ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #4bb45c;
    width: 0%;
    height: 3px;
    transition: 0.3s;
}

nav ul li:hover::after,
nav ul li.active::after{
    width: 100%;
}

nav ul li a{
    color: #383c36;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}
nav ul li a:hover,
nav ul li.active a{
    color: #4bb45c;
}

.container .content{
    width: 100%;
    height: calc(100vh - 95px);
    background: linear-gradient(130deg, #4bb45c, #4bb3e6);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.content .div-text span{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: bold;
}
.content .div-text h3{
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 50px;
    font-weight: normal;
    margin: 20px 0 8px;
    color: #383c36;
}

.content .div-text p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.3px;
    margin-bottom: 55px;
}

.content .div-text .btn{
    padding: 15px 35px;
    background-color: #fff;
    color: #4bb45c;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.content .div-text .btn:hover{
    color: #fff;
    background-color: #086404;
}

.content .div-img img{
    width: 350px;
}

.content .small-img{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    gap: 80px;
}

.content .small-img img{
    width: 80px;
    cursor: pointer;
    transition: 0.4s;
}

.content .small-img img:hover{
    transform: scale(1.2);
}

body {
    background-color: #fff;
    font-family: sans-serif;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 200px;
    right: 100px;
}

.content .div-text h1{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
}

.content .div-text .div-contact{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
    position: absolute;
    top: 200px;
    left: 150px;
}

.content .div-text i{
    font-size: 25px;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
    position: absolute;
    top: 320px;
    left: 150px;
}

.content .div-text h2{
    font-size: 25px;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
    position: absolute;
    top: 320px;
    left: 200px;
}

.content .div-text .email{
    font-size: 15px;
    letter-spacing: 1.8px;
    color: #383c36;
    margin-bottom: 25px;
    position: absolute;
    top: 360px;
    left: 200px;
}  

label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"]{
    background-color: #4bb45c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: #086404;
}

.dropdown-pages{
    display: none;
    position: absolute;
    background-color: #fff;
}

.dropdown-pages li a{
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-pages {
    display: block;
}

@media (min-width: 598px) {
    .dropdown button{
        display: none;
    }
    .dropdown-pages{
        display: block;
        position: relative;
    } 
}