html {
    background-color: bisque;
    font-family: 'Rubik', 'Roboto', sans-serif;
}

.website-name-header {
    text-align: center;
}

.logo-image {
    display: flex;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-left: 130px;
    margin-right: 130px;
}

ol {
    margin-left: 190px;
    margin-right: 190px;
}

body header p {
    text-align: center;
}