/* across all pages/items */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 0 15px 15px;
}

.content .div-text h1 {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1.8px;
  margin: 4px 5px 8px;
  color: #383c36;
  margin-bottom: 25px;
  inline-size: min-content;
  width: 90%;
  animation: typing 3s steps(30, end);
  white-space: normal;
  animation-fill-mode: forwards;
}

.content .div-text i {
  font-size: 25px;
  letter-spacing: 1.8px;
  color: #383c36;
  margin-bottom: 25px;
  position: absolute;
  top: 280px;
  left: 155px;
}

.container .content {
  width: 100%;
  height: calc(100vh - 95px);
  background: linear-gradient(130deg, #4bb45c, #4bb3e6);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.content .div-text h2 {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 7vh;
  inline-size: min-content;
  width: 90%;
  font-weight: normal;
  margin: 20px 5px 8px;
  color: #383c36;
  font-family: 'Montserrat', serif;
}

.content .div-text p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 1.3px;
  margin-bottom: 3vh;
  inline-size: min-content;
  width: 100%;
}

/* nav bar */
Nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.pe-3 {
  text-transform: uppercase;
}

Nav .nav-item {
display: inline-block;
margin-left: 8vw;
text-transform: uppercase;
height: 80px;
position: relative;
line-height: 80px;
cursor: pointer;
}

nav .logo {
  color: #4bb45c;
  font-size: 28px;
  margin-right: 10px;
}

nav ul li {
  display: inline-block;
  margin-left: 115px;
  height: 80px;
  position: relative;
  line-height: 80px;
  cursor: pointer;
}

/* home page */
.content .div-text span {
  color: #fff;
  font-size: 29px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: bold;
  margin: 20px 5px 8px;
}

.content .div-text .btn {
  padding: 15px 35px;
  background-color: #fff;
  color: #086404;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.content .div-text .btn:hover {
  color: #fff;
  background-color: #086404;
}

.content-trans {
  opacity: 0;
  animation: floatIn 3s forwards;
}

.content .div-img img {
  width: 350px;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

/* form and account page*/
.content .div-text form {
  animation: floatIn 3s forwards;
}

/* account page */
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/* contact page and account page form */
form {
  font-family: 'Inter', serif;
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 6rem;
  right: 23vh;
}

@keyframes floatIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* responsive css */
@media (max-width: 768px) {
  form {
    width: 70%;
    top: 120px;
    left: 55px;
  }
  .content .div-text h1 {
    font-size: 5rem;
    flex-wrap: wrap;
  }
  .content .div-text p {
    font-size: 2.0vh;
    word-wrap: break-word;
  }

  .meet-team-title {
    font-size: 30px;
    white-space: nowrap;
    text-align: left;
    margin-left: -95px;
  }
  .about-section-team h1 {
    font-size: 2vh;
  }
  .search {
    position: relative;
    left: 0px;
    width: 300px;
  }
}

@media (max-width: 650px) {
  .dropdown {
    position: relative;
  }
  .dropdown-pages {
    position: top;
    padding-right: 10em;
    display: none;
    width: 100%;
  }
  .dropdown-pages li a {
    display: block;
    padding: 10px;
    color: black;
  }
  .dropdown:hover .dropdown-pages {
    display: block;
  }
}

@media (min-width: 598px) {
  .dropdown button{
    display: none;
  }
  .dropdown-pages{
    display: block;
    position: relative;
  } 
}

@media (min-width: 768px) {
  .dropdown button{
    display: none;
  }
  .dropdown-pages{
    display: block;
    position: relative;
  } 
  .container .content{
    background-image: linear-gradient(rgba(255, 255, 255, 0.671), rgba(255, 255, 255, 0.584)), url('../public/img/background-leaves.jpg'); 
    background-size: 100%;
  }
  .content .div-text span {
    font-size: 35px;
  }
  .content .div-text h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* contact page */
.email-contact {
  animation: floatIn 3s forwards;
}

.content .div-text .email {
  font-size: 15px;
  letter-spacing: 1.8px;
  color: #383c36;
  margin-bottom: 25px;
  position: relative;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* input item */
input[type="text"], textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="password"], textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #086404;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/*
input[type="submit"]:hover {
  color: #fff;
  background-color: #086404;
}
*/

/* about us page */
.team-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #555;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.btn-outline-primary {
  position: relative;
}

.column {
  float: left;
  width: 39%;
  margin-bottom: 16px;
  padding: 10 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 5%;
}

.card img {
  width: 100%;
  border-radius: 5%;
}

.about-section-team {
  padding: 50px;
  text-align: center;
  color: black;
  animation: floatIn 3s forwards;
}

.about-section-team h1, .meet-team-title {
  font-size: 6.25vh;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

.container-card {
  padding: 0 16px;
}

.container-card::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(109, 109, 109);
}

.background-about{
  background-color: #E8E8E8;
  border-radius: 2%;
  animation: floatIn 3s forwards;
} 

.team-heading-container {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

.team-members-container {
  display: inline-block;
  vertical-align: top;
  width: 300%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: floatIn 3s forwards;
}

hr {
  display: block;
  border-width: 5px;
}

/* footer page */
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: black;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#2a2828;
  margin-bottom:0;
}  

/* shop page */
.card-body img {
  position: relative;
  max-width: 250px;
  height: 250px;
  object-fit: contain;
  top: 0;
  padding: 0em;
}

.col-sm {
  width:  125rem;
  height: 10rem;
}

label, #sustainable-items {
  margin-bottom: 10px;
  position: relative;
}

.search label {
  margin-bottom: 0;
}

.search {
  position: relative;
  left: 2rem;
  top: 1rem;
}

.category-select {
  margin-bottom: 4px;
}

.fa-star {
  position: absolute;
  top: .11rem;
  right: .11rem;
}

/* wishlist items */
.fa-star:hover{
  color: #ffdf00 !important;
}

.remove-from-wishlist:hover {
  color: black !important;
}

/* wishlist page */
.logged-in {
  color: #4bb45c;
}